/* Reset dei margini e dei padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Intestazione */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin-bottom: 0.5em;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Sezione intro */
.intro {
    background-color: #f4f4f4;
    padding: 2em;
    text-align: center;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
